body {
    background-color: #204f9c;
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Russo One", sans-serif;
}

#login {
    background-color: #204f9c;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

#index {
    background-color: #204f9c;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.form-login {
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.form-container {
    background-color: #204f9c;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 0px;
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

.form-group {
    border: 0;
}

.table-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 30px;
    font-family: "Nunito", sans-serif;
    color: #000000;
    font-weight: bold;
}

.background {
    background-color: #204f9c;
    color: #FFFFFF;
}

.btn-submit {
    background-color: #204f9c;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.btn-submit:hover {
    background-color: #1e4185;
    
    
}

.btn-form {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.btn-form:hover {
    background-color: #b1b1b1;
    color: #fff;
    
}

.btn-next {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.btn-next:hover {
    background-color: #b1b1b1;
    color: #fff;
    
}

.btn-next[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}

.collor {
    background-color: #204f9c !important;
    color: #fff !important;

}

img.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 230px;
    height: 230px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px 20px !important;
    margin: 0px 0;
    margin-bottom: 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select,
textarea {
    width: 100%;
    padding: 10px 20px !important;
    margin: 0px 0;
    margin-bottom: 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel],
select,
textarea {
    width: 100%;
    padding: 10px 20px !important;
    margin: 0px 0;
    margin-bottom: 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date],
select,
textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 0px 0;
    margin-bottom: 10px !important;
    font-weight: normal !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=time],
select,
textarea {
    width: 100%;
    padding: 10px 20px !important;
    margin: 0px 0;
    margin-bottom: 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number],
select,
textarea {
    width: 100%;
    padding: 10px 20px !important;
    margin: 0px 0;
    margin-bottom: 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file],
select,
textarea {
    width: 100%;
    padding: 10px 20px !important;
    margin: 0px 0;
    margin-bottom: 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.multi{
    width: 100%;
    padding: 10px 20px;
    margin: 0px 0;
    margin-bottom: 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
}

a.link {
    color: #204f9c;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e69ff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Barra de progresso formulario */
:root {
    --prm-color: #b1b1b1;
    --prm-gray: #fff;
}

/* CSS */
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: sticky;
}

.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
    color: #000;
}

.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}

.done {
    background-color: var(--prm-color);
    color: #fff;
}

.step-item {
    z-index: 10;
    text-align: center;
    color: #fff;
}

#progress {
    -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
}

/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}

#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);

}

td.details-control {
    background: url('../images/arrow_drop_down.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/arrow_right.png') no-repeat center center;
}